.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 48px;
  margin-top: 24px;
  list-style: none;
  padding: 0;
  min-width: 348px;
  height: 40px;
}

@media screen and (min-width: 1440px) {
  .pagination {
    min-width: 320px;
    height: 32px;
  }
}

.pagination :global(.previous) {
  background: var(--light-brown);
}

.pagination :global(.next) {
  background: var(--light-brown);
}

.pagination :global(.previous) a {
  color: var(--white);
}

.pagination :global(.next) a {
  color: var(--white);
}

.pagination li {
  border: none;
  border-radius: 4px;
  padding: 16px;
  width: 40px;
  height: 40px;
  transition: background-color var(--primary-transition);
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font: var(--body-md-regular);
}

.pagination li:hover,
.pagination li:focus {
  background: var(--brown);
}
.pagination li a:hover,
.pagination li a:focus {
  color: var(--white);
}

.active {
  background: var(--light-brown);
}

.active a {
  color: #fff !important;
  font: var(--body-md-semibold);
}
