.noResultsWrapper {
  width: 361px;
  height: 207px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: var(--light-beige);
  border-radius: 16px;
  padding: 40px 24px;

  margin-top: 48px;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .noResultsWrapper {
    width: 522px;
    margin-left: auto;
    margin-right: auto;

  }
}

@media (min-width: 1440px) {
  .noResultsWrapper {
    width: 598px;
  }
}

.noResultsHeader {
  font: var(--display-sm-semibold);
  text-align: center;
  width: 313px;
}

@media (min-width: 768px) {
  .noResultsHeader {
    width: 382px;
  }
}

.resButton {
  font: var(--body-lg-semibold);
  border-radius: 8px;
  border: 1px solid var(--black);
  padding: 16px;
  width: 313px;
}

@media (min-width: 768px) {
  .resButton {
    width: 474px;
  }
}

@media (min-width: 1440px) {
  .resButton {
    width: 550px;
  }
}

.resButton:hover,
.resButton:focus {
  background-color: var(--light-gray);
}

.resButton:active {
  border: 2px solid var(--white);
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}